body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: aliceblue;
	color: black;
	text-align: center;
}
p1 {
	font-size: 20pt;
}
.highlight {
	/* background-color: yellow; */
	font-weight: bold;
}

.green {
	color: green;
}

.error {
	background-color: rgba(209, 78, 78, 0.349);
	color: black;
	border: red;
	border: none;
	border-bottom: 4px solid rgb(0, 0, 0);
	outline: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20pt;
}

#title {
	text-align: center;
	font-size: 50pt;
}

#quote {
	font-size: 25pt;
}

#message {
	font-size: 25pt;
}

/* #start {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: aliceblue;
} */

.typed-value {
	border: none;
	border-bottom: 4px solid rgb(0, 0, 0);
	outline: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20pt;
	background: aliceblue;
}

.square_btn {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: #add9ff;
	position: relative;
	display: inline-block;
	text-decoration: none;
	transition: 0.4s;
	border-radius: 10px;
	font-size: 20pt;
}

.square_btn:hover {
	background: #5cb3ff;
}
